swagger: '2.0'
info:
  description: The dashboard API for the coin management
  version: 1.0.0
  title: Coins Ticker
  termsOfService: 'http://swagger.io/terms/'
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
host: coins.jdevelop.com
basePath: /
schemes:
  - http
paths:
  /dashboard:
    get:
      summary: Get the dashboard
      description: ''
      produces:
        - application/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Dashboard'
        '400':
          description: Invalid input
  /list:
    get:
      summary: Retrieves the list of the purchased stuff
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Results'
  /transfer:
    put:
      summary: Add the new record
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/RawSymbol'
      consumes:
        - application/json
      produces:
        - text/plain
      responses:
        '200':
          description: OK
  /remove/{id}:
    delete:
      summary: Removes the transaction
      responses:
        200:
          description: Finished.
          schema:
            type: object
            format: JSON
            example: { "status" : "Complete" }
    parameters: 
      - name: id
        in: path
        required: true
        type: integer
        format: integer
definitions:
  Results:
    type: array
    items:
      $ref: '#/definitions/Symbol'
  Dashboard:
    type: object
    properties:
      total_return:
        type: number
        format: double
        example: 1000000
      total_spent:
        type: number
        format: double
        example: 1000
      gain_loss:
        type: number
        format: double
        example: 999900
      symbols:
        type: array
        items:
          $ref: '#/definitions/Symbol'
  Dashboard_Symbol:
    type: object
    properties: 
      symbol: 
        type: string
        example: "ethereum"
      market_price: 
        type: number
        format: double
        example: 520.00
      qty: 
        type: number
        format: double
        example: 1.19
      value:
        type: number
        format: double
        example: 1178.24567
  Sale:
    type: object
    properties:
      account:
        type: string
        example: "ethereum"
      amount:
        type: number
        format: double
        example: 1.05
  Symbol:
    type: object
    properties:
      id:
        type: integer
        format: int64
        example: 101
      debit:
        $ref: '#definitions/Sale'
      credit:
        $ref: '#definitions/Sale'
      date:
        type: string
        format: date
        example: '2017-11-29 00:00'
  RawSymbol:
    type: object
    properties:
      debit:
        $ref: '#definitions/Sale'
      credit:
        $ref: '#definitions/Sale'
      date:
        type: string
        format: date
        example: '2017-11-29 00:00'
